poc-webservice/src/main/resources/visi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.visi.nl/schemas/soap/version-1.0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://www.visi.nl/schemas/soap/version-1.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.visi.nl/schemas/soap/version-1.0">
            <s:element name="parseMessageConfirmation">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="parseMessageConfirmationResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="parseMessageConfirmationResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Attachments" type="tns:Attachments"/>
            <s:complexType name="Attachments">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="SOAPCentralServerURL" type="tns:SOAPCentralServerURL"/>
            <s:complexType name="SOAPCentralServerURL">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="SOAPServerURL" type="tns:SOAPServerURL"/>
            <s:complexType name="SOAPServerURL">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="UniqueID" type="tns:UniqueID"/>
            <s:complexType name="UniqueID">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="parseMessage">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="parseMessageResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="parseMessageResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="uploadChunk">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="fileIdentification" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary"/>
                        <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="uploadChunkResponse">
                <s:complexType/>
            </s:element>
            <s:element name="checkFileHash">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="fileIdentification" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="checkFileHashResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="checkFileHashResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TestLog">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="logMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TestLogResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="TestLogResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="getMaxRequestLength">
                <s:complexType/>
            </s:element>
            <s:element name="getMaxRequestLengthResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="getMaxRequestLengthResult" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="parseMessageConfirmationSoapIn">
        <wsdl:part name="parameters" element="tns:parseMessageConfirmation"/>
    </wsdl:message>
    <wsdl:message name="parseMessageConfirmationSoapOut">
        <wsdl:part name="parameters" element="tns:parseMessageConfirmationResponse"/>
    </wsdl:message>
    <wsdl:message name="parseMessageConfirmationAttachments">
        <wsdl:part name="Attachments" element="tns:Attachments"/>
    </wsdl:message>
    <wsdl:message name="parseMessageConfirmationSOAPCentralServerURL">
        <wsdl:part name="SOAPCentralServerURL" element="tns:SOAPCentralServerURL"/>
    </wsdl:message>
    <wsdl:message name="parseMessageConfirmationSOAPServerURL">
        <wsdl:part name="SOAPServerURL" element="tns:SOAPServerURL"/>
    </wsdl:message>
    <wsdl:message name="parseMessageConfirmationUniqueID">
        <wsdl:part name="UniqueID" element="tns:UniqueID"/>
    </wsdl:message>
    <wsdl:message name="parseMessageSoapIn">
        <wsdl:part name="parameters" element="tns:parseMessage"/>
    </wsdl:message>
    <wsdl:message name="parseMessageSoapOut">
        <wsdl:part name="parameters" element="tns:parseMessageResponse"/>
    </wsdl:message>
    <wsdl:message name="parseMessageAttachments">
        <wsdl:part name="Attachments" element="tns:Attachments"/>
    </wsdl:message>
    <wsdl:message name="parseMessageSOAPCentralServerURL">
        <wsdl:part name="SOAPCentralServerURL" element="tns:SOAPCentralServerURL"/>
    </wsdl:message>
    <wsdl:message name="parseMessageSOAPServerURL">
        <wsdl:part name="SOAPServerURL" element="tns:SOAPServerURL"/>
    </wsdl:message>
    <wsdl:message name="parseMessageUniqueID">
        <wsdl:part name="UniqueID" element="tns:UniqueID"/>
    </wsdl:message>
    <wsdl:message name="uploadChunkSoapIn">
        <wsdl:part name="parameters" element="tns:uploadChunk"/>
    </wsdl:message>
    <wsdl:message name="uploadChunkSoapOut">
        <wsdl:part name="parameters" element="tns:uploadChunkResponse"/>
    </wsdl:message>
    <wsdl:message name="uploadChunkAttachments">
        <wsdl:part name="Attachments" element="tns:Attachments"/>
    </wsdl:message>
    <wsdl:message name="uploadChunkSOAPCentralServerURL">
        <wsdl:part name="SOAPCentralServerURL" element="tns:SOAPCentralServerURL"/>
    </wsdl:message>
    <wsdl:message name="uploadChunkSOAPServerURL">
        <wsdl:part name="SOAPServerURL" element="tns:SOAPServerURL"/>
    </wsdl:message>
    <wsdl:message name="uploadChunkUniqueID">
        <wsdl:part name="UniqueID" element="tns:UniqueID"/>
    </wsdl:message>
    <wsdl:message name="checkFileHashSoapIn">
        <wsdl:part name="parameters" element="tns:checkFileHash"/>
    </wsdl:message>
    <wsdl:message name="checkFileHashSoapOut">
        <wsdl:part name="parameters" element="tns:checkFileHashResponse"/>
    </wsdl:message>
    <wsdl:message name="checkFileHashAttachments">
        <wsdl:part name="Attachments" element="tns:Attachments"/>
    </wsdl:message>
    <wsdl:message name="checkFileHashSOAPCentralServerURL">
        <wsdl:part name="SOAPCentralServerURL" element="tns:SOAPCentralServerURL"/>
    </wsdl:message>
    <wsdl:message name="checkFileHashSOAPServerURL">
        <wsdl:part name="SOAPServerURL" element="tns:SOAPServerURL"/>
    </wsdl:message>
    <wsdl:message name="checkFileHashUniqueID">
        <wsdl:part name="UniqueID" element="tns:UniqueID"/>
    </wsdl:message>
    <wsdl:message name="TestLogSoapIn">
        <wsdl:part name="parameters" element="tns:TestLog"/>
    </wsdl:message>
    <wsdl:message name="TestLogSoapOut">
        <wsdl:part name="parameters" element="tns:TestLogResponse"/>
    </wsdl:message>
    <wsdl:message name="TestLogAttachments">
        <wsdl:part name="Attachments" element="tns:Attachments"/>
    </wsdl:message>
    <wsdl:message name="TestLogSOAPCentralServerURL">
        <wsdl:part name="SOAPCentralServerURL" element="tns:SOAPCentralServerURL"/>
    </wsdl:message>
    <wsdl:message name="TestLogSOAPServerURL">
        <wsdl:part name="SOAPServerURL" element="tns:SOAPServerURL"/>
    </wsdl:message>
    <wsdl:message name="TestLogUniqueID">
        <wsdl:part name="UniqueID" element="tns:UniqueID"/>
    </wsdl:message>
    <wsdl:message name="getMaxRequestLengthSoapIn">
        <wsdl:part name="parameters" element="tns:getMaxRequestLength"/>
    </wsdl:message>
    <wsdl:message name="getMaxRequestLengthSoapOut">
        <wsdl:part name="parameters" element="tns:getMaxRequestLengthResponse"/>
    </wsdl:message>
    <wsdl:message name="getMaxRequestLengthAttachments">
        <wsdl:part name="Attachments" element="tns:Attachments"/>
    </wsdl:message>
    <wsdl:message name="getMaxRequestLengthSOAPCentralServerURL">
        <wsdl:part name="SOAPCentralServerURL" element="tns:SOAPCentralServerURL"/>
    </wsdl:message>
    <wsdl:message name="getMaxRequestLengthSOAPServerURL">
        <wsdl:part name="SOAPServerURL" element="tns:SOAPServerURL"/>
    </wsdl:message>
    <wsdl:message name="getMaxRequestLengthUniqueID">
        <wsdl:part name="UniqueID" element="tns:UniqueID"/>
    </wsdl:message>
    <wsdl:portType name="SoapExporterSoap">
        <wsdl:operation name="parseMessageConfirmation">
            <wsdl:input message="tns:parseMessageConfirmationSoapIn"/>
            <wsdl:output message="tns:parseMessageConfirmationSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="parseMessage">
            <wsdl:input message="tns:parseMessageSoapIn"/>
            <wsdl:output message="tns:parseMessageSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="uploadChunk">
            <wsdl:input message="tns:uploadChunkSoapIn"/>
            <wsdl:output message="tns:uploadChunkSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="checkFileHash">
            <wsdl:input message="tns:checkFileHashSoapIn"/>
            <wsdl:output message="tns:checkFileHashSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="TestLog">
            <wsdl:input message="tns:TestLogSoapIn"/>
            <wsdl:output message="tns:TestLogSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxRequestLength">
            <wsdl:input message="tns:getMaxRequestLengthSoapIn"/>
            <wsdl:output message="tns:getMaxRequestLengthSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoapExporterSoap" type="tns:SoapExporterSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parseMessageConfirmation">
            <soap:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/parseMessageConfirmation"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:parseMessageConfirmationAttachments" part="Attachments" use="literal"/>
                <soap:header message="tns:parseMessageConfirmationSOAPCentralServerURL" part="SOAPCentralServerURL"
                             use="literal"/>
                <soap:header message="tns:parseMessageConfirmationSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap:header message="tns:parseMessageConfirmationUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="parseMessage">
            <soap:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/parseMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:parseMessageAttachments" part="Attachments" use="literal"/>
                <soap:header message="tns:parseMessageSOAPCentralServerURL" part="SOAPCentralServerURL" use="literal"/>
                <soap:header message="tns:parseMessageSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap:header message="tns:parseMessageUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadChunk">
            <soap:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/uploadChunk" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:uploadChunkAttachments" part="Attachments" use="literal"/>
                <soap:header message="tns:uploadChunkSOAPCentralServerURL" part="SOAPCentralServerURL" use="literal"/>
                <soap:header message="tns:uploadChunkSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap:header message="tns:uploadChunkUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkFileHash">
            <soap:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/checkFileHash" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:checkFileHashAttachments" part="Attachments" use="literal"/>
                <soap:header message="tns:checkFileHashSOAPCentralServerURL" part="SOAPCentralServerURL" use="literal"/>
                <soap:header message="tns:checkFileHashSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap:header message="tns:checkFileHashUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TestLog">
            <soap:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/TestLog" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:TestLogAttachments" part="Attachments" use="literal"/>
                <soap:header message="tns:TestLogSOAPCentralServerURL" part="SOAPCentralServerURL" use="literal"/>
                <soap:header message="tns:TestLogSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap:header message="tns:TestLogUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxRequestLength">
            <soap:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/getMaxRequestLength"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:getMaxRequestLengthAttachments" part="Attachments" use="literal"/>
                <soap:header message="tns:getMaxRequestLengthSOAPCentralServerURL" part="SOAPCentralServerURL"
                             use="literal"/>
                <soap:header message="tns:getMaxRequestLengthSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap:header message="tns:getMaxRequestLengthUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SoapExporterSoap12" type="tns:SoapExporterSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parseMessageConfirmation">
            <soap12:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/parseMessageConfirmation"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:parseMessageConfirmationAttachments" part="Attachments" use="literal"/>
                <soap12:header message="tns:parseMessageConfirmationSOAPCentralServerURL" part="SOAPCentralServerURL"
                               use="literal"/>
                <soap12:header message="tns:parseMessageConfirmationSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap12:header message="tns:parseMessageConfirmationUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="parseMessage">
            <soap12:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/parseMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:parseMessageAttachments" part="Attachments" use="literal"/>
                <soap12:header message="tns:parseMessageSOAPCentralServerURL" part="SOAPCentralServerURL"
                               use="literal"/>
                <soap12:header message="tns:parseMessageSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap12:header message="tns:parseMessageUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadChunk">
            <soap12:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/uploadChunk" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:uploadChunkAttachments" part="Attachments" use="literal"/>
                <soap12:header message="tns:uploadChunkSOAPCentralServerURL" part="SOAPCentralServerURL" use="literal"/>
                <soap12:header message="tns:uploadChunkSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap12:header message="tns:uploadChunkUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkFileHash">
            <soap12:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/checkFileHash" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:checkFileHashAttachments" part="Attachments" use="literal"/>
                <soap12:header message="tns:checkFileHashSOAPCentralServerURL" part="SOAPCentralServerURL"
                               use="literal"/>
                <soap12:header message="tns:checkFileHashSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap12:header message="tns:checkFileHashUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TestLog">
            <soap12:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/TestLog" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:TestLogAttachments" part="Attachments" use="literal"/>
                <soap12:header message="tns:TestLogSOAPCentralServerURL" part="SOAPCentralServerURL" use="literal"/>
                <soap12:header message="tns:TestLogSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap12:header message="tns:TestLogUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxRequestLength">
            <soap12:operation soapAction="http://www.visi.nl/schemas/soap/version-1.0/getMaxRequestLength"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:getMaxRequestLengthAttachments" part="Attachments" use="literal"/>
                <soap12:header message="tns:getMaxRequestLengthSOAPCentralServerURL" part="SOAPCentralServerURL"
                               use="literal"/>
                <soap12:header message="tns:getMaxRequestLengthSOAPServerURL" part="SOAPServerURL" use="literal"/>
                <soap12:header message="tns:getMaxRequestLengthUniqueID" part="UniqueID" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoapExporter">
        <wsdl:port name="SoapExporterSoap" binding="tns:SoapExporterSoap">
            <soap:address location="http://localhost:5000/soap.asmx"/>
        </wsdl:port>
        <wsdl:port name="SoapExporterSoap12" binding="tns:SoapExporterSoap12">
            <soap12:address location="http://localhost:5000/soap.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>